.main{
    width: 80%;
    margin: auto
}
body{
    font-family: 'cursive';
  }
#titlePage{
  margin-top: 150px;
  text-align: center;
  h1{
    transform: translateZ(.25px) scale(.75);
    transform-origin: 50% 100%;
    color: red;
    font-size: 50px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-shadow: 0 2px 2px #FFBD0D;
  }
}
@import 'modal.scss';
@import 'loading.scss';
@import 'chart.scss';
@import 'tableAM.scss';
@import 'admin.scss';
@import 'pay.scss';
@import 'footer.scss';
@import 'detail-pd.scss';
@import 'scroll.scss';
@import 'slider.scss';
@import 'header.scss';
@import 'button.scss';
@import 'product.scss';
@import 'detail.scss';
@import 'cart.scss';